@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    /*border: 3px solid white;*/
    /*top:10%;*/
    /*left:30px;*/
    background: #FFC312;
    font-family:roboto;
    margin:0;
    /*height:100vh;*/

}

header {
    top:0;
    left:0;
    right:0;
    padding: 1% 20%;
    background-color: white;
    text-align: center;
}

header h1 {
    font-family: "Over the Rainbow";
    color:black;
    font-size: 100px;
    font-weight:bold;
    margin:0;
    padding:0;
}

header h2 {
    font-family: "Over the Rainbow";
    color:#5758BB;
    font-size: 40px;
    font-weight:bold;
    margin:0;
    padding:0;
}

header nav {
    padding-bottom:3%;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  color:#2c7f98;
  overflow: hidden;
  background-color: #ffffff;
  float: right;
}

header nav li {
  float: left;
}

header nav li a {
  display: block;
  text-align: center;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-weight:bold;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
header nav li a {
  padding: 8px 16px 8px 16px;
}
}

header nav li a:hover {
  background-color: #cccccc;
  text-decoration: none;
}

main{
    position:relative;
    margin: 0 3% 10%;
    /*padding-left: 60px;*/
    /*font-family:lato;*/
    /*font-size: 24px;*/
    /*color: #1e272e;*/
}

h1{
    /*font-size: 24px;*/
    font-family: "Over the Rainbow";
    font-size: 50px;
    display:inline;
    font-weight: 900;
    line-height: 1; 
    color:white;
}

iframe {
    width:100%;
    height:100vh;
}

#portfolio{
    margin-bottom:10%;
    padding:0;
}

#container {
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin:3% 10%;

}

.block {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-align:center;
    padding:1% 10%;
    /*margin-bottom:0;*/
    /*margin-top:0;*/
    margin-right:auto;
    margin-left:auto;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width:33vw;
    padding:3%;
    background-color:white;
    border-radius: 5px;
    margin: 0 1%;
    
    /*padding:auto;*/
}

.project img{
    width: 100%;
}


section h2 {
    font-family: "Over the Rainbow";
    font-size: 4em;
    color:#12CBC4;
    margin-bottom:0;
    padding:0;
}


section h3 {
    font-family: "Oswald";
    color: #485460;
    font-size: 1.5em;

}



#heading img {
    width:100%;
}


.cv{
    background-color:white;
    padding:2%;
    margin:1% 0 0 0;
    border-radius:5px;
    padding-top:.5%;
}


#featured{
    background-color:white;
    padding:2%;
    border-radius:5px;
    padding-top:.5%;
}

#featured2 {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    background-color:#5758BB;
    margin-top:3%;
    padding: 2%;
    border-radius:5px;
}

#featured2 section {
    margin: 1%;
    padding: 3%;
    padding-top:.5%;
    background-color:white;
    border-radius:5px;
}

#testi {
    margin-bottom:10%;
}

.test{
    background-color: white;
    margin: 5%;
    padding: 2%;
    text-align:center;
    border-radius:5px;
}

.test img {
    width: 50%;
}

a:link {
    text-decoration: none;
    color:inherit;
}

a:visited {
    text-decoration: none;
    color:inherit;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


footer{
    font-size:20px;
    color:white;
    /*font-weight:bold;*/
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    /* box-sizing: border-box; */
    width:100%;
    background-color:#5758BB;
    /* line-height:100%; */
    color: white;
    text-align: center;
}
  
footer nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width:100vw;
    padding: 0;
    color:white;
    overflow: hidden;
    /* background-color: #ffffff; */
    float: center;
}
  
footer nav li {
    list-style-type: none;
    margin:0;
    width:100%;
    line-height:400%;
    float: center;
  }


  
footer nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    text-transform: uppercase;
  }

footer nav li a:hover {
    background-color:#12CBC4;
  }
  
#form {
    width: calc(100vw - 100px);
    border-radius: 5px;
    background-color:white;
    padding: 5px 20px 20px;
    margin:5% 0 10%;
}

@media screen and (min-width: 768px) {
    #form {
        width: calc(100vw - 160px);}

}

#form input, textarea, select{
    font-family:roboto;
    font-size:20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form input[type=submit] {
    width: 100%;
    background-color: #5758BB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form input[type=submit]:hover {
    background-color:#12CBC4;   
}

#form h1{
    color:#5758BB;
    
}



  